<%- include("../partials/header") %>
<style>
	body{
		background: url("https://cdn.pixabay.com/photo/2016/03/30/02/57/camping-1289930__340.jpg");
 		background-size: cover;
	}

	hr{
		width: 45%;
		text-align: center;
	}
</style>
<div class="register-form mnp">
	<h1 class="text-center" style="color: white; margin-top: 20px; margin-bottom: 30px; font-size: 36px; font-weight: bold; text-decoration: underline;">Update: <%=editcamp.name %></h1>
	<form action="/campage/<%= editcamp._id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
	  <div class="form-group">
		<input class="form-control" style="margin: auto auto;" name="name" type="text" value="<%=editcamp.name%>" required>
		<div class="valid-feedback">
			Looks good!
		</div>
		<div class="invalid-feedback">
          Please choose a valid camp-name.
        </div>
		</div>
		<div class="form-group">
		<input class="form-control" style="margin: auto auto;" name="price" type="number" min="0.00"   steps="0.1" value="<%=editcamp.price%>" required>
		<div class="valid-feedback">
			Looks good!
		</div>
		<div class="invalid-feedback">
          Please choose a valid price.
        </div>
		</div>
		<div class="custom-file">
		<input class="custom-file-input" id="customFile" name="image" type="file" accept="image/*">
		<label class="custom-file-label" for="customFile">Choose file</label>	
		</div>
		<div class="form-group">
			<textarea class="form-control" style="margin: auto auto;" name="description" type="text" required><%=editcamp.description%></textarea>
		<div class="valid-feedback">
			Looks good!
		</div>
		<div class="invalid-feedback">
          Please write some word about your camp.
        </div>
		</div>
		<div class="form-group">
		<input class="form-control" style="margin: auto;" name="location" id="location" type="text"  placeholder="Location" value="<%=editcamp.location%>" required>
		
		</div>	
		<div class="form-group">
		<button class="btn btn-primary btn-block regs" style="margin: auto auto">Submit</button>
		</div>	
	</form>  
</div>
<hr style="color: gray;">
  
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
<%- include("../partials/footer") %>t